@import "mixins";
@font-face {
  font-family: "Dela Gothic One";
  src: url("/fonts/delagothicone-regular-webfont.woff2") format("woff2"),
    url("/fonts/delagothicone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$baseTransitionStyle: cubic-bezier(0.66, 0, 0.07, 1);
$accentFont: "Dela Gothic One", cursive;
$mainFont: "Jost", sans-serif;
$grid: 16px;

@import "post";
@import "timeline";
@import "about";
@import "posts";

:root {
  --grid: 20px;
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #edecec;
  --color-grey-dark: #8d8d8d;
  --color-grey-darkest: #252525;
  --color-orange: #ff5a26;
  --color-orange-dark: #a92800;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--color-black);
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  line-height: 1.4;

  @include respond-to(medium) {
    font-size: 21px;
  }

  @include respond-to(xl-large) {
    font-size: 32px;
  }

  // @include respond-to(xxl-large) {
  //   font-size: 32px;
  // }

  > .body-wrapper {
    margin: auto;
    max-width: $sizeXXL;
  }

  &.disable-touch-scroll {
    touch-action: none;

    @media (hover: hover) {
      overflow: hidden;
    }
  }
}

a {
  text-decoration: none;
}

p {
  margin-top: 0;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: $accentFont;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.02em;
}

.timeline-button {
  position: fixed;
  z-index: 2;
  bottom: $grid;
  right: $grid;
  width: 80px;

  @include respond-to(medium) {
    bottom: $grid * 2;
    right: $grid * 2;
  }

  @include respond-to(large) {
    display: none;
  }

  img:last-child {
    display: none;
  }

  &.active {
    img:first-child {
      display: none;
    }
    img:last-child {
      display: block;
    }
  }

  img {
    -webkit-filter: drop-shadow(0px 10px 24px rgba(0, 0, 0, 0.15));
    filter: drop-shadow(0px 10px 24px rgba(0, 0, 0, 0.15));
  }
}

nav {
  position: fixed;
  z-index: 999;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  text-transform: uppercase;
  padding: $grid/2 $grid;
  height: $grid * 4;
  width: 100%;
  max-width: $sizeXXL;
  background: var(--color-black);

  @include respond-to(medium) {
    padding: $grid/2 * 3 $grid * 2;
  }

  @include respond-to(large) {
    padding: $grid/2 * 3 $grid * 3;
  }

  @include respond-to(xl-large) {
    padding: $grid/2 * 3 $grid * 5;
  }

  &.nav-inner-page {
    justify-content: center;

    @include respond-to(medium) {
      justify-content: flex-end;
    }

    a {
      justify-content: center;
      text-align: center;
      width: 100%;

      @include respond-to(medium) {
        width: auto;
      }
    }
  }

  &::before {
    content: "";
    box-shadow: 0 -$grid/2 * 3 0 0 var(--color-black);
    width: $grid/2 * 6;
    border-top-left-radius: $grid/2 * 3;
    height: $grid/2 * 6;
    bottom: -$grid/2 * 6;
    left: 0;
    position: absolute;
    background-color: transparent;
    pointer-events: none;

    @include respond-to(large) {
      box-shadow: 0 -$grid * 3 0 0 var(--color-black);
      width: $grid * 6;
      border-top-left-radius: $grid * 3;
      height: $grid * 6;
      bottom: -$grid * 6;
    }

    @include respond-to(xl-large) {
      box-shadow: 0 -$grid * 5 0 0 var(--color-black);
      width: $grid * 10;
      border-top-left-radius: $grid * 5;
      height: $grid * 10;
      bottom: -$grid * 10;
    }
  }

  &::after {
    content: "";
    box-shadow: 0 0 -$grid/2 * 3 0 var(--color-black);
    width: $grid/2 * 6;
    border-top-right-radius: $grid/2 * 3;
    height: $grid/2 * 6;
    bottom: -$grid/2 * 6;
    right: 0;
    position: absolute;
    z-index: -1;
    background-color: transparent;
    pointer-events: none;

    @include respond-to(large) {
      box-shadow: 0 0 -$grid * 3 0 var(--color-black);
      width: $grid * 6;
      border-top-right-radius: $grid * 3;
      height: $grid * 6;
      bottom: -$grid * 6;
    }

    @include respond-to(xl-large) {
      box-shadow: 0 0 -$grid * 5 0 var(--color-black);
      width: $grid * 10;
      border-top-right-radius: $grid * 5;
      height: $grid * 10;
      bottom: -$grid * 10;
    }
  }

  a {
    display: flex;
    align-items: center;

    line-height: 1;

    @media (hover: hover) {
      &:hover {
        opacity: 1;
        color: var(--color-orange);
      }
    }
  }

  .home {
    font-family: $accentFont;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: -0.02em;
    color: var(--color-white);
    opacity: 0.7;

    @include respond-to(medium) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-size: 18px;
    }

    @include respond-to(large) {
      font-size: 24px;
    }
  }

  .about {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.07em;
    color: var(--color-white);
    opacity: 0.5;
  }
}

main {
  background: var(--color-grey);

  padding-top: $grid * 4;

  .intro {
    position: relative;

    @include respond-to(large) {
      &::before {
        content: "";

        position: absolute;
        right: 0;
        background: var(--color-white);
        width: 400px;
        height: 100%;
      }
    }

    @include respond-to(xl-large) {
      &::before {
        width: 480px;
      }
    }

    h1 {
      padding: $grid;
      padding-top: $grid * 3;
      font-size: 28px;
      letter-spacing: -0.05em;

      @include respond-to(medium) {
        font-size: 56px;
        padding: $grid * 2;
      }

      @include respond-to(large) {
        padding: $grid * 3;
        padding-top: $grid * 4;
      }

      @include respond-to(xl-large) {
        padding: $grid * 4;
        font-size: 80px;
      }

      @include respond-to(xxl-large) {
        font-size: 90px;
      }
    }

    .logo {
      position: absolute;
      right: $grid;
      top: $grid;
      width: 83px;

      @include respond-to(large) {
        width: 150px;
        top: $grid * 3;
        right: 125px;
      }

      @include respond-to(xl-large) {
        width: 200px;
        right: 140px;
        top: $grid * 4;
      }
    }

    .image {
      position: relative;
      z-index: 1;
      overflow: hidden;
      border-radius: $grid/2 * 3;
      margin: $grid 0;

      @include respond-to(medium) {
        margin: 0;
        border-radius: $grid * 3;
        height: 360px;
      }

      @include respond-to(xl-large) {
        border-radius: $grid * 5;
        height: 440px;
      }

      @include respond-to(xxl-large) {
        height: 500px;
      }

      img {
        @include respond-to(medium) {
          object-fit: cover;
          height: 100%;
        }
      }
    }
  }

  .cols {
    @include respond-to(large) {
      display: flex;
      flex-wrap: wrap;
    }

    > .col-left {
      @include respond-to(large) {
        width: calc(100% - 400px);
      }

      @include respond-to(xl-large) {
        width: calc(100% - 480px);
      }
    }

    > .col-right {
      @include respond-to(large) {
        width: 400px;
      }

      @include respond-to(xl-large) {
        width: 480px;
      }
    }
  }

  .mission {
    padding: $grid;

    @include respond-to(medium) {
      padding: $grid * 2;
    }

    @include respond-to(large) {
      padding: $grid * 6 $grid * 4;
    }

    @include respond-to(xl-large) {
      padding: $grid * 6 $grid * 5;
      display: flex;
      flex-wrap: wrap;
    }

    > h2 {
      margin-bottom: $grid;
      font-size: 17px;
      line-height: 1.4;

      @include respond-to(medium) {
        font-size: 30px;
        line-height: 1.2;
      }

      @include respond-to(xl-large) {
        width: 40%;
        padding-right: $grid * 2;
      }
    }

    > div {
      font-weight: 300;

      @include respond-to(medium) {
        font-size: 20px;
      }

      @include respond-to(xl-large) {
        width: 60%;
        font-size: 24px;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  .search {
    padding: $grid;

    @include respond-to(medium) {
      padding: 0 $grid * 2;
      padding-bottom: 0;
    }

    @include respond-to(large) {
      padding: 0 $grid * 4;
      padding-bottom: 0;
    }

    @include respond-to(xl-large) {
      padding: 0 $grid * 5;
      padding-bottom: 0;
    }

    .wrapper {
      position: relative;

      .image {
        position: absolute;
        top: 50%;
        left: $grid;
        transform: translateY(-50%);
        width: 24px;

        @include respond-to(medium) {
          width: 30px;
          left: $grid/2 * 3;
        }
      }

      input {
        display: flex;

        width: 100%;
        font-size: 1rem;
        font-family: $mainFont;
        border: 0;
        border-radius: 16px;
        outline: none;
        box-shadow: none;
        resize: none;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        padding: $grid;
        padding-left: $grid * 3;

        @include respond-to(medium) {
          border-radius: 24px;
          padding: $grid/2 * 3;
          padding-left: $grid * 4;
          font-size: 20px;
        }

        @include respond-to(xl-large) {
          font-size: 24px;
        }

        &:focus::-webkit-input-placeholder {
          color: var(--color-black);
        }

        &:-webkit-autofill {
          background: var(--color-grey-dark);
          box-shadow: 0 0 0px 1000px var(--color-grey-dark) inset;
          -webkit-box-shadow: 0 0 0px 1000px var(--color-grey-dark) inset;
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 1;
  background-color: var(--color-black);
  color: var(--color-white);
  width: 100%;
  font-size: 14px;
  padding: $grid;
  height: $grid * 4;
  line-height: 1.2;

  @include respond-to(medium) {
    font-size: 17px;
    padding: $grid $grid / 2 * 3;
  }

  span {
    padding: 0 $grid/2;
    opacity: 0.6;
  }

  &::before {
    content: "";
    box-shadow: 0 -$grid/2 * 3 0 0 var(--color-black);
    width: $grid/2 * 6;
    border-bottom-left-radius: $grid/2 * 3;
    height: $grid/2 * 6;
    top: -$grid/2 * 6;
    left: 0;
    position: absolute;
    background-color: transparent;
    pointer-events: none;

    @include respond-to(large) {
      box-shadow: 0 -$grid * 3 0 0 var(--color-black);
      width: $grid * 6;
      border-bottom-left-radius: $grid * 3;
      height: $grid * 6;
      top: -$grid * 6;
    }

    @include respond-to(xl-large) {
      box-shadow: 0 -$grid * 5 0 0 var(--color-black);
      width: $grid * 10;
      border-bottom-left-radius: $grid * 5;
      height: $grid * 10;
      top: -$grid * 10;
    }
  }

  &::after {
    content: "";
    box-shadow: $grid/2 * 3 0 0 0 var(--color-black);
    width: $grid/2 * 6;
    border-bottom-right-radius: $grid/2 * 3;
    height: $grid/2 * 6;
    top: -$grid/2 * 6;
    right: 0;
    position: absolute;
    background-color: transparent;
    pointer-events: none;

    @include respond-to(large) {
      box-shadow: $grid * 3 0 0 0 var(--color-black);
      width: $grid * 6;
      border-bottom-right-radius: $grid * 3;
      height: $grid * 6;
      top: -$grid * 6;
    }

    @include respond-to(xl-large) {
      box-shadow: $grid * 5 0 0 0 var(--color-black);
      width: $grid * 10;
      border-bottom-right-radius: $grid * 5;
      height: $grid * 10;
      top: -$grid * 10;
    }
  }
}
