.post-header {
  color: var(--color-white);

  @include respond-to(medium) {
    display: flex;
    flex-wrap: wrap;

    position: relative;

    background: var(--color-grey-darkest);
  }

  .title {
    position: relative;
    z-index: 1;
    background: var(--color-grey-darkest);
    border-radius: $grid/2 * 3;
    padding: $grid;
    overflow: hidden;
    margin-top: -$grid/2 * 3;

    @include respond-to(medium) {
      margin: 0;
      border-bottom-right-radius: 0;
      padding: $grid * 2;
      width: 50%;
    }

    @include respond-to(large) {
      padding: $grid * 6 $grid * 4;
      border-radius: $grid * 3;
    }

    @include respond-to(xl-large) {
      padding: $grid * 6 $grid * 5;
      border-radius: $grid * 5;
      border-bottom-right-radius: 0;
    }

    .copyright {
      order: 0;
      opacity: 0.6;
      font-size: 12px;
      margin-bottom: $grid * 3;

      @include respond-to(medium) {
        font-size: 14px;
        margin-bottom: $grid * 6;
      }
    }

    h1 {
      font-size: 24px;

      @include respond-to(medium) {
        font-size: 36px;
      }

      @include respond-to(large) {
        font-size: 40px;
      }

      @include respond-to(xl-large) {
        font-size: 58px;
      }

      @include respond-to(xxl-large) {
        font-size: 64px;
      }
    }
  }

  .image {
    background: var(--color-grey-darkest);

    @include respond-to(medium) {
      position: absolute;
      right: 0;
      left: calc(50% - 16px * 3);

      order: 1;
      height: 100%;
    }

    @include respond-to(xl-large) {
      left: calc(50% - 16px * 5);
    }

    img {
      @include respond-to(medium) {
        object-fit: cover;
        height: 100%;
      }
    }
  }
}

.post-body {
  padding: $grid;
  margin-bottom: $grid * 2;

  @include respond-to(medium) {
    padding: $grid * 2;
    margin-bottom: $grid * 3;
  }

  @include respond-to(large) {
    padding: $grid * 6 $grid * 4;
  }

  @include respond-to(xl-large) {
    padding: $grid * 6 $grid * 5;
  }

  p {
    font-weight: 300;
  }

  b {
    font-weight: 500;
  }

  a {
    color: var(--color-orange);
    text-decoration: underline;

    &:visited {
      color: var(--color-orange-dark);
    }

    @media (hover: hover) {
      &:hover {
        text-decoration: none;
      }
    }
  }

  h2 {
    margin-top: $grid * 2;
    margin-bottom: $grid;
    font-size: 24px;
    line-height: 1.1;

    @include respond-to(medium) {
      font-size: 30px;
      line-height: 1.2;
      margin-top: $grid * 3;
      margin-bottom: $grid * 2;
    }
  }

  blockquote {
    position: relative;
    margin: 0;
    margin: $grid * 2 0;
    text-align: center;
    font-weight: 500;
    border-top: 2px solid var(--color-black);
    border-bottom: 2px solid var(--color-black);
    padding: $grid/2 * 3 0;

    @include respond-to(medium) {
      margin: $grid * 3 0;

      &:before,
      &:after {
        content: " ";

        position: absolute;

        left: 50%;
        background-color: var(--color-grey);
        transform: translateX(-50%);
        width: 8px;
        height: 8px;
        border: 2px solid var(--color-black);
        border-radius: 10px;
      }

      &:before {
        top: -7px;
      }

      &:after {
        bottom: -7px;
      }
    }
  }

  .quote-with-avatar {
    position: relative;
    background-color: var(--color-white);
    border-radius: $grid/2 * 3;
    padding: $grid/2 * 3 $grid;
    margin: 0;
    margin: $grid * 2 0;

    @include respond-to(medium) {
      display: flex;
      flex-wrap: wrap;

      margin: $grid * 3 0;
      padding: $grid * 3;
    }

    .icon {
      position: absolute;
      right: $grid/2 * 3;

      @include respond-to(medium) {
        right: $grid * 3;
      }
    }

    .image {
      width: 60px;
      height: 60px;
      border-radius: 60px;
      overflow: hidden;
      margin-bottom: $grid/2;

      @include respond-to(medium) {
        width: 100px;
        height: 100px;
      }

      > img {
        height: 100%;
        object-fit: cover;
      }
    }

    .info {
      width: calc(100% - 60px);

      @include respond-to(medium) {
        width: calc(100% - 100px);
        padding-left: $grid;
      }

      .name {
        font-weight: 600;
      }
      .job-title {
        opacity: 0.6;
        font-size: 12px;
        margin-bottom: $grid;

        @include respond-to(medium) {
          font-size: 14px;
        }
      }
      .quote {
        font-style: italic;
        font-weight: 400;
      }
    }
  }
}

.related {
  h2 {
    padding: 0 $grid;
    margin-bottom: $grid;
    font-size: 24px;
    line-height: 1.1;

    @include respond-to(medium) {
      padding: 0 $grid * 2;
      font-size: 30px;
      line-height: 1.2;
    }

    @include respond-to(large) {
      padding: 0 $grid * 4;
    }

    @include respond-to(xl-large) {
      padding: 0 $grid * 5;
    }
  }
}
