.post-list,
.post-body {
  padding: $grid;

  @include respond-to(medium) {
    padding: $grid * 2;
  }

  @include respond-to(large) {
    padding: $grid * 4;
    padding-top: $grid * 2;
  }

  @include respond-to(xl-large) {
    padding: $grid * 5;
    padding-top: $grid * 2;
  }

  .post-item {
    @include respond-to(medium) {
      border-radius: $grid/2 * 3;
      margin-bottom: $grid * 2;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .image {
      @include respond-to(medium) {
        border-radius: $grid/2 * 3;
      }

      .issue-number {
        @include respond-to(medium) {
          left: $grid * 2;
          bottom: $grid * 2;
          font-size: 14px;
          padding: $grid/2 $grid;
        }
      }
    }

    h2 {
      @include respond-to(medium) {
        padding: $grid * 2;
        font-size: 30px;
        line-height: 1.2;
      }
    }
  }
}

.post-grid {
  padding: $grid;

  @include respond-to(medium) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: $grid * 2;
  }

  @include respond-to(large) {
    padding: $grid * 4;
    padding-top: $grid * 2;
  }

  @include respond-to(xl-large) {
    padding: $grid * 5;
    padding-top: $grid * 2;
  }

  .post-item {
    @include respond-to(medium) {
      width: calc(50% - 12px);
      margin-bottom: $grid/2 * 3;
    }

    @include respond-to(xl-large) {
      width: calc(100% / 3 - 12px);
    }
  }
}

.post-item {
  background-color: var(--color-white);
  border-radius: $grid;
  overflow: hidden;
  margin-bottom: $grid;

  a {
    display: block;
    color: var(--color-black);

    @media (hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .image {
    position: relative;
    border-radius: $grid;
    overflow: hidden;

    .issue-number {
      position: absolute;
      left: $grid;
      bottom: $grid;
      background-color: var(--color-orange);
      font-weight: 500;
      text-transform: uppercase;
      border-radius: 100px;
      padding: $grid/4 $grid/3 * 2;
      font-size: 12px;
    }
  }

  h2 {
    padding: $grid/2 * 3;
    margin-bottom: $grid/2;
    font-size: 17px;
    line-height: 1.3;
  }
}
