$mainFont: "Noto Serif", serif;

$grid: 15px;

$max-width: 1280px;
$min-width: 1024px - $grid * 2;

$color-main: #111;
$color-grey: #c4c4c4;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $mainFont;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: $color-main;

  &:hover {
    text-decoration: underline;
  }
}

img {
  display: block;

  width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main {
  padding: 0 $grid;
}

.max-width {
  margin: auto;
  max-width: $max-width;
  min-width: $min-width;
}

.banner-240x400 {
  margin-bottom: $grid * 2;

  &:before {
    content: "";

    display: block;
    background: blue;
    width: 240px;
    height: 400px;
  }
}

.banner-300x500 {
  margin-bottom: $grid * 2;

  &:before {
    content: "";

    display: block;
    background: blue;
    width: 300px;
    height: 500px;
  }
}

.post {
  // border-bottom: 1px solid $color-grey;
  // padding-bottom: $grid;
  margin-bottom: $grid * 2;

  &:last-child {
    border: 0;
    padding: 0;
    margin: 0;
  }

  &.big-post {
    a {
      font-size: 1.6rem;
      line-height: 1;
    }
  }

  &.no-image {
    padding: $grid !important;
    border: 1px solid $color-grey;
  }

  img {
    margin-bottom: $grid;
  }

  .category {
    text-transform: uppercase;
    font-family: arial;
    margin-bottom: $grid/3;
    opacity: 0.5;
    font-size: 0.7rem;
  }

  a {
    display: block;
    font-weight: bold;
    margin-bottom: $grid/3;
  }

  .description {
    margin: 0;
    margin-bottom: $grid/3;
  }

  .date {
    text-transform: uppercase;
    font-family: arial;
    font-size: 0.55rem;
    margin-top: $grid;
    opacity: 0.5;
  }
}

.opinion {
  // border-bottom: 1px solid $color-grey;
  // padding-bottom: $grid;
  margin-bottom: $grid * 2;

  &:last-child {
    border: 0;
    padding: 0;
    margin: 0;
  }

  .info {
    width: 80%;
    padding-right: $grid;
  }

  .image {
    width: 20%;
    float: right;
  }

  .title {
    display: block;
    font-weight: bold;
    margin-bottom: $grid/3;
  }

  p {
    margin: 0;
    margin-bottom: $grid;
  }

  .comments {
    font-size: 0.8rem;

    span {
      opacity: 0.5;
    }
  }
}

.col-240 {
  width: 240px;
}

header {
  background-color: $color-grey;
  height: 100px;
  margin-bottom: $grid * 2;
}

footer {
  background-color: $color-grey;
  height: 100px;
}

.full-width-banner {
  background-color: $color-grey;
  height: 100px;
  margin-bottom: $grid * 2;
  margin-left: -$grid;
  margin-right: -$grid;
}

.top-row-news {
  border-bottom: 1px solid $color-grey;
  padding-bottom: $grid * 2;
  margin-bottom: $grid * 2;

  a {
    // border-right: 1px solid $color-grey;
    width: calc(100% / 6);
    padding: 0 $grid;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border: 0;
      padding-right: 0;
    }
  }
}

.section-1 {
  border-bottom: 1px solid $color-grey;
  padding-bottom: $grid * 2;
  margin-bottom: $grid * 2;

  .col-middle {
    // border-left: 1px solid $color-grey;
    // border-right: 1px solid $color-grey;
    width: calc(100% - 510px);
    padding: 0 $grid;
    margin: 0 $grid;
  }

  .top-column-news {
    border: 1px solid $color-grey;
    padding: $grid;
    margin-bottom: $grid * 2;

    a {
      display: block;

      margin-bottom: $grid/3 * 2;

      &:last-child {
        margin: 0;
      }
    }
  }

  .col-big {
    @media only screen and (min-width: 1180px) {
      width: calc(100% - 180px);
      padding-right: $grid;
    }
  }

  .col-small {
    display: none;
    width: 180px;
    // border-left: 1px solid $color-grey;
    padding-left: $grid;

    @media only screen and (min-width: 1180px) {
      display: block;
    }
  }

  .col-240 {
    @media only screen and (min-width: 1180px) {
      .hide-on-1280 {
        display: none;
      }
    }
  }
}

.section-2 {
  border-bottom: 1px solid $color-grey;
  padding-bottom: $grid * 2;
  margin-bottom: $grid * 2;

  h2 {
    font-family: arial;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: $grid;
  }

  .col-big {
    width: calc(100% - 240px);

    .col-40-per {
      width: calc(40% - 15px);
      // border-left: 1px solid $color-grey;
      padding-left: $grid;
      margin-left: $grid;

      @media only screen and (min-width: 1280px) {
        width: calc(45% - 15px);

        .col-2 {
          .post {
            width: calc(50% - 15px);
          }
        }
      }

      @media only screen and (min-width: 1180px) {
        .col-2 {
          .post {
            width: calc(50% - 15px);
          }
        }
      }
    }

    .col-60-per {
      width: calc(60% - 15px);
      padding-left: $grid;
      margin-left: $grid;

      @media only screen and (min-width: 1280px) {
        width: calc(55% - 15px);
      }
    }
  }
}

.section-3 {
  // border-bottom: 1px solid $color-grey;
  // padding-bottom: $grid * 2;
  margin-bottom: $grid * 4;

  > h2 {
    font-family: arial;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: $grid;
  }

  .full-width {
    margin-bottom: $grid * 2;

    .post {
      width: calc(100% / 4 - 15px);
      // padding-right: $grid;
      margin-right: $grid;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .left-column {
    width: calc(100% - 240px);
    padding-right: $grid;

    .post {
      width: calc(100% / 4 - 15px);
      margin-right: $grid;
    }
  }

  .right-column {
    width: 240px;

    > h2 {
      font-family: arial;
      font-size: 12px;
      margin-top: 0;
      margin-bottom: $grid;
    }
  }
}

.section-photo {
  margin-bottom: $grid * 4;

  > h2 {
    font-family: arial;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: $grid;
    width: 100%;
  }

  .col {
    width: 50%;

    &:first-child {
      padding-right: $grid;
    }

    // &:last-child {
    //   padding-left: $grid;
    // }
  }

  .col-half {
    width: calc(100% - 300px);
    padding-left: $grid;
  }
}
