$mainFont: "Noto Serif", serif;
$sansFont: arial;

$grid: 15px;

$max-width: 1280px;
$min-width: 1024px - $grid * 2;

$color-main: #111;
$color-grey: #c4c4c4;
$color-grey-light: #eee;
$color-grey-dark: #656565;
$color-red: #ed3f3a;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $mainFont;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.35;
}

a {
  text-decoration: none;
  color: $color-main;

  &:hover {
    text-decoration: underline;
  }
}

img {
  display: block;

  width: 100%;
}

.main-header {
  margin-bottom: $grid * 2;

  .vz-logo {
    width: 160px;
  }

  .top-wrapper {
    border-bottom: 1px solid $color-grey-light;
    font-family: $sansFont;
    padding: $grid/2 $grid;
    color: $color-grey-dark;
    font-size: 0.7rem;
  }

  .middle-wrapper {
    padding: $grid;
  }

  .featured-categories {
    background-color: $color-grey-light;
    font-family: $sansFont;
    font-weight: bold;
    font-size: 0.8rem;
    padding: $grid/2 $grid;

    .flex {
      justify-content: flex-start;
    }

    a {
      margin-right: $grid * 2;

      &.active {
        color: $color-red;
      }
    }
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main {
  padding: 0 $grid;
}

.max-width {
  margin: auto;
  max-width: $max-width;
  min-width: $min-width;
}

.banner-240x400 {
  margin-bottom: $grid * 2;

  &:before {
    content: "";

    display: block;
    background: blue;
    width: 240px;
    height: 400px;
  }
}

.banner-300x500 {
  margin-bottom: $grid * 2;

  &:before {
    content: "";

    display: block;
    background: blue;
    width: 300px;
    height: 500px;
  }
}

.post {
  margin-bottom: $grid * 2;

  &:last-child {
    border: 0;
    padding: 0;
    margin: 0;
  }

  &.big-post {
    .title {
      font-size: 1.6rem;
      line-height: 1;
    }
  }

  &.special {
    border: 1px solid $color-grey;
    padding: $grid;
  }

  &.no-image {
    padding: $grid !important;
    border: 1px solid $color-grey;
  }

  img {
    margin-bottom: $grid;
  }

  .category {
    text-transform: uppercase;
    font-family: $sansFont;
    margin-bottom: $grid/3;
    opacity: 0.5;
    font-size: 0.7rem;
  }

  .title {
    display: block;
    font-weight: bold;
    margin-bottom: $grid/3;

    .time {
      background: $color-grey-light;
      margin-right: $grid/2;
      padding: 0 $grid/4;
    }
  }

  .description {
    margin: 0;
    margin-bottom: $grid/3;
    color: $color-grey-dark;

    .learn-more {
      text-decoration: underline;
    }
  }

  .date {
    text-transform: uppercase;
    font-family: $sansFont;
    font-size: 0.55rem;
    margin-top: $grid;
    opacity: 0.5;
  }
}

.opinion {
  margin-bottom: $grid * 2;

  &:last-child {
    border: 0;
    padding: 0;
    margin: 0;
  }

  .image {
    width: 20%;
    min-width: 50px;
    margin-left: $grid;
    margin-bottom: $grid/2;
    float: right;
  }

  .title {
    display: block;
    font-weight: bold;
    margin-bottom: $grid/3;

    .name {
      display: block;

      font-family: $sansFont;
      color: $color-grey-dark;
      font-weight: normal;
      font-size: 0.8rem;
    }
  }

  p {
    margin: 0;
    margin-bottom: $grid;
    color: $color-grey-dark;
  }

  .comments {
    font-family: $sansFont;
    font-size: 0.8rem;

    a {
      text-decoration: underline;
    }

    span {
      opacity: 0.5;
    }
  }
}

.margin-bottom-border {
  border-bottom: 1px solid $color-grey;
  padding-bottom: $grid * 2;
  margin-bottom: $grid * 2;
}

.col-240 {
  width: 240px;
}

footer {
  background-color: $color-grey;
  height: 100px;
}

.full-width-banner {
  background-color: $color-grey;
  height: 100px;
  margin-bottom: $grid * 2;
  margin-left: -$grid;
  margin-right: -$grid;

  &.top {
    margin: 0;
  }
}

.top-row-news {
  font-family: $sansFont;
  border-bottom: 1px solid $color-grey;
  padding-bottom: $grid * 2;
  margin-bottom: $grid * 2;

  a {
    width: calc(100% / 6);
    padding: 0 $grid;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border: 0;
      padding-right: 0;
    }
  }
}

.section-1 {
  border-bottom: 1px solid $color-grey;
  padding-bottom: $grid * 2;
  margin-bottom: $grid * 2;

  .col-middle {
    width: calc(100% - 510px);
    padding: 0 $grid;
    margin: 0 $grid;
  }

  .top-column-news {
    border: 1px solid $color-grey;
    padding: $grid;
    margin-bottom: $grid * 2;

    a {
      display: block;

      margin-bottom: $grid/3 * 2;

      &:last-child {
        margin: 0;
      }
    }
  }

  .col-big {
    @media only screen and (min-width: 1180px) {
      width: calc(100% - 180px);
      padding-right: $grid;
    }
  }

  .col-small {
    display: none;
    width: 180px;
    // border-left: 1px solid $color-grey;
    padding-left: $grid;

    @media only screen and (min-width: 1180px) {
      display: block;
    }
  }

  .col-240 {
    @media only screen and (min-width: 1180px) {
      .hide-on-1280 {
        display: none;
      }
    }
  }
}

.section-2 {
  margin-bottom: $grid * 2;

  h2 {
    font-family: arial;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: $grid;
  }

  .col-big {
    width: calc(100% - 240px);

    .col-left {
      width: calc(45% - 15px);
      padding-left: $grid;
      margin-left: $grid;

      @media only screen and (min-width: 1280px) {
        width: calc(50% - 15px);

        .col-2 {
          .post {
            width: calc(50% - 15px);
          }
        }
      }

      @media only screen and (min-width: 1180px) {
        .col-2 {
          .post {
            width: calc(50% - 15px);
          }
        }
      }
    }

    .col-right {
      width: calc(55% - 15px);
      padding-left: $grid;
      margin-left: $grid;

      @media only screen and (min-width: 1280px) {
        width: calc(50% - 15px);
      }
    }
  }
}

.section-3 {
  .post {
    width: calc((100% - 90px) / 4);
  }
}

.popular {
  background: $color-grey-light;
  padding: $grid + 15px;
  margin-bottom: $grid * 2;

  h2 {
    text-align: center;
    font-size: 1.4rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: $grid * 2;
  }

  .post {
    width: calc((100% - 90px) / 4);
    margin: 0;
  }
}

.section-4 {
  margin-bottom: $grid * 2;

  .col-middle {
    width: calc(100% - (240px * 2) - 60px);

    .col-2 {
      .post {
        width: calc((100% - 30px) / 2);
      }
    }

    .col-3 {
      .post {
        width: calc((100% - 30px) / 3);
      }
    }
  }
}

.section-photo {
  .col {
    width: calc((100% - 30px) / 2);
  }

  .col-half {
    width: calc(100% - 300px);
    padding-left: $grid * 2;
  }
}

.header-small {
  font-family: arial;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: $grid;
}
