.post {
  .col-middle {
    width: calc(100% - 510px);
    padding: 0 $grid;
    margin: 0 $grid;
  }

  h1 {
    margin: 0;
    margin-bottom: $grid;
    font-size: 2.2rem;
    line-height: 1;
  }

  .lead {
    font-size: 1.3rem;
    font-weight: bold;
  }

  .image {
    position: relative;

    margin: 0;

    img {
      width: 100%;
    }

    figcaption {
      position: absolute;
      bottom: 0;
      left: 0;

      background-color: rgba(0, 0, 0, 0.4);
      padding: $grid/5 $grid/3;
      font-family: $sansFont;
      color: white;
      font-size: 0.7rem;
    }
  }

  p {
    font-size: 1.1rem;
  }

  blockquote {
    position: relative;

    font-style: italic;
    font-size: 1.1rem;
    color: $color-grey-dark;
    margin: 0;
    padding: 0;
    padding-left: $grid * 4;

    &:after {
      content: "“";

      position: absolute;
      left: $grid/3 * 2;
      top: 0;
      font-size: 4rem;
      line-height: 0.8;
    }
  }

  h2 {
    margin: 0;
    margin-bottom: $grid;
    font-size: 1.3rem;
  }

  a {
    text-decoration: underline;
  }
}
